.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px 0px;
    background-color: #ffffff;
    color: #000000;
    &__text {
        text-align: center;
    }
}