.head {
  width: 100%;
  margin: auto;
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  color: #000000;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    transition: all 0.5s;
  }

  &__link {
    color: #000000;
  }

  &__link:hover {
    text-decoration: underline;
  }
}
