.main {
  width: 90%;
  margin: auto;
  padding: 50px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 200px;

  &__input {
    width: 400px;
    padding: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    color: #ffffff;
  }

  &__cards {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 50px;
  }

  &__card {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }

  &__box {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }

  section {
    width: 500px;
    height: 600px;
    padding: 50px;
    background-color: #333333;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 0px #fff;
  }

  &__resultCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }

  &__resultCard {
    width: 400px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #000000;
    display: flex;
    justify-content: start;
    align-items: center;

  }

  &__text {
    color: #000000;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  padding: 50px 0px;
}

.button {
  width: 400px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  color: #000000;
}

@media only screen and (max-width: 500px) {
  section {
    width: 90%;
    margin: auto;
  }

  .main {
    &__card {
      width: 100%;
    }

    &__input {
      width: 100%;
    }

    &__resultCard {
      width: 100%;
    }
  }
}